@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


body{
    margin: 0;
    font-family: "Microsoft Yahei";
    text-align: center;
    overflow: auto;
    /*    background:url("/static/images/background.png")no-repeat;*/
    background-size:cover;
}

/*.two::before{*/
/*position: absolute;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*display: block;*/
/*content: "";*/

/*}*/

/*
global button styles
*/
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    height:35px;
    width: 200px;
    margin: 0;
    padding: 4px 5px;
    color: #16181b;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #16181b;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #16181b;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button.victoria-one {
    border: 2px solid  #c0c0c0;
}
a.animated-button.victoria-one:after {
    background:  #c0c0c0;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
    border: 2px solid  #c0c0c0;
}
a.animated-button.victoria-two:after {
    background:  #c0c0c0;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
    border: 2px solid  #c0c0c0;
}
a.animated-button.victoria-three:after {
    background:  #c0c0c0;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}
a.animated-button.victoria-four {
    border: 2px solid  #c0c0c0;
}
a.animated-button.victoria-four:after {
    background: #c0c0c0;
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}

.button {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 40px;
    min-height: 40px;
    opacity: 1;
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    display: inline-block;
    margin: 0 auto;
    padding: 0 15px;
    border: 2px solid #ffffff;
    text-decoration: none;
    position: relative;
    width: 200px;
}
.button .b-title {
    -webkit-transform: skewX(8deg);
    transform: skewX(8deg);
    display: block;
    position: relative;
    z-index: 2;
    transition: color 0.3s linear;
    transition-delay: 0.25s;
}
.button .shadow {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 40px #ffffff;
    opacity: 0;
    transition: opacity 0.3s linear;
}
.button .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}
.button .bg {
    width: 75%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: -20%;
    top: 0;
    -webkit-transform: skewX(-32deg) translateY(-100%);
    transform: skewX(-32deg) translateY(-100%);
    transition: -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.button .bg:last-child {
    left: auto;
    right: -20%;
    -webkit-transform: skewX(-32deg) translateY(100%);
    transform: skewX(-32deg) translateY(100%);
}
.button:hover .bg {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.button:hover .b-title {
    color: #000;
    transition-delay: none;
}
.button:hover .shadow {
    opacity: 1;
}
.button.is-gold {
    color: #ffdf00;
    border-color: #ffdf00;
}
.button.is-gold .shadow {
    box-shadow: 0px 0px 40px #ffdf00;
}
.button.is-gold .bg {
    background-color: #ffdf00;
}
.button.is-silver {
    color: #c0c0c0;
    border-color: #c0c0c0;
}
.button.is-silver .shadow {
    box-shadow: 0px 0px 40px #c0c0c0;
}
.button.is-silver .bg {
    background-color: #c0c0c0;
}
.button.is-horizontal .bg {
    width: 120%;
}
.button.is-horizontal:hover .bg:first-child {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.button.is-horizontal:hover .bg:last-child {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}
.button.is-vertical .bg {
    top: 0;
    -webkit-transform: skewX(-8deg) translateY(0) translateX(-80%);
    transform: skewX(-8deg) translateY(0) translateX(-80%);
}
.button.is-vertical .bg:last-child {
    -webkit-transform: translateX(80%);
    transform: translateX(80%);
}
.button.is-vertical:hover .bg {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.two{
    display: flex;
    display: -webkit-flex; /*兼容问题*/
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: auto;
    text-align: center;
}
.logo1 h1{
    width:240px;
    height:100px;
    align-content: center;
    margin-bottom: 20px;
    color: #c0c0c0;
    align-self: center;
    font-size: 4em;
}
.logo2 h1{
    width:240px;
    height:70px;
    align-content: center;
    margin-bottom: 10px;
    color: black;
    align-self: center;
    font-size: 2em;
}

ul {
    padding:0;
    margin:0;
}
ul li {
    list-style-type:none;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;color:#f00;
}
.cl{ clear: both;}
input[type="text"]:focus, input[type="password"]:focus {
    outline:none;
}
input::-ms-clear {
    display:none;
}


p{
    margin-top: -20px;
    font-family: "Microsoft Yahei";
    color:black;
    line-height:3;
    font-size: 20px;
    font-weight: lighter;
}
.out-container{
    width:1000px;
    height: 1000px;
    align-self: center;
    margin-top: 5px;
    margin-left: 400px;
    /*margin-top: -100px;*/
}
.container {
    width:1000px;
    border-radius: 8px;
    opacity: 0.6;
    align-self: center;
    height: 1000px;
}

.header {
    height:50px;
    position:relative;
    font-family:"Microsoft Yahei";
}
.header .switch {
    height:45px;
    position:absolute;
    margin: 0 auto;
    width: 370px;
    bottom:0;
    font-size:16px;
}
.header .switch #switch_qlogin {
    margin-right:85px;
}
.header .switch .switch_btn {
    color:#999;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:none;
    *hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn_focus {
    color:#333;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:none;
    *hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn:hover {
    color:#333;
    text-decoration:none;
}
.header .switch .switch_btn_focus:hover {
    text-decoration:none;
}
#switch_bottom {
    position:absolute;
    bottom:-1px;
    border-bottom:2px solid #848484;
}
.web_login {
    width:370px;
    position:relative;
}
#web_login{_left:60px;*left:0;}
.web_login .login_form {
    width:272px;
    margin:0 auto;
}
.web_login .register_form {
    width:600px;
    margin:0 auto;
}

.web_login .reg_form {
    width:300px;
    margin:0 auto;
}
.web_login .radio-check
{
    position: relative;
    height:20px;

}

.web_login .input-tips {
    float:left;
    margin-top:10px;
    font-size:16px;
    line-height:42px;
    font-family:"Hiragino Sans GB", "Microsoft Yahei";
}
.web_login .input-tips2 {
    float:left;
    text-align:right;
    padding-right:10px;
    width:75px;
    height:30px;
    font-size:16px;
    margin-top:10px;
    clear:both;
    line-height:30px;
    font-family:"Hiragino Sans GB", "Microsoft Yahei";
}
.web_login .inputOuter {

    height:20px;
    margin-top:5px;
    float:left;

}
.web_login .inputOuter2 {
    width:200px;
    margin-top:6px;margin-top:5px\9;
    float:left;

}
.web_login .inputstyle {
    width:250px;
    height:30px;
    padding-left:5px;
    line-height:30px;
    border:1px solid #D7D7D7;
    background:#fff;
    color:#333;
    font-size:16px;
    ime-mode:disabled;
    border-radius: 5px;
    margin-top: 10px;
}
.web_login input.inputstyle2:focus,.web_login input.inputstyle:focus{border:1px solid #198BD4;box-shadow:0 0 2px #198BD4;}
.web_login .inputstyle2 {
    width:200px;
    height:34px;
    padding-left:5px;
    line-height:34px;
    border:1px solid #D7D7D7;
    background:#fff;
    color:#333;border-radius:2px;
    font-family:Verdana, Tahoma, Arial;
    font-size:16px;
    ime-mode:disabled;
}
.web_login .uinArea {
    height:55px;
    position:relative;
    z-index:10;
}
.web_login .pwdArea {
    height:55px;
    margin-bottom:10px;
    position:relative;
    z-index:3;
}
.web_qr_login {
    position:relative;
}

.cue {
    height:40px;
    line-height:40px;
    font-size:14px;
    border:1px #CCCCCC solid;
    margin-top:10px;margin-bottom:5px;
    text-align:center;
    font-family:"Hiragino Sans GB", "Microsoft Yahei";
}
.login {
    /*background-color:#ffffff;*/
}


.login {border:0;padding:5px 0;
    /* background: #fff;*/
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);}

.web_login{padding-bottom:20px;}

.jianyi{color:#000;text-align:center;margin-top:25px;color:#B3B8C4;}
.reg_form li {
    height: 55px;
}
.cue {
    margin-top: 15px;
    margin-bottom: 10px;border:1px solid #eee;border-radius:3px;
}
.web_login input.inputstyle2:focus, .web_login input.inputstyle:focus {
    border: 1px solid #B3B8C4;
    box-shadow: 0 0 0;
}
.web_login .reg_form {
    width: 300px;
    margin: 0 auto;
}
.web_login .inputstyle2 {border-radius:2px;width:210px;}
.web_login .input-tips2 {
    padding-right: 5px;
    width: 80px;_width: 75px;_font-size:12px;}
.button_blue
{
    display:inline-block;
    height:35px;
    width: 200px;
    border-radius:5px;
    background: rgba(174, 174, 255, 0.78);
    border:none;
    cursor:pointer;
    /*border-bottom:3px solid */
    /*rgba(66, 174, 216, 0.92);*/
    /*border-bottom:none;*/
    color:#000;
    font-size:16px;padding:0 10px;*width:140px;
    text-align:center;outline:none;font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
}
input.button_blue:hover
{
    background: rgba(66, 174, 216, 0.92);
    border-bottom:3px solid #42aed8;*border-bottom:none;
    color:#fff;
    text-decoration:none;
}
a.zcxy {text-decoration: underline;line-height:58px;margin-left:15px;color: #959ca8;}
.web_login .login_form {margin-top:30px;}
.web_login .uinArea {
    height: 60px;}
.web_login .numberArea {
    height: 60px;}