<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vision.invicloud.support.mapper.EmotionRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.vision.invicloud.support.entity.EmotionRecord">
        <id column="record_id" property="recordId" />
        <result column="customer_id" property="customerId" />
        <result column="emotion" property="emotion" />
        <result column="record_time" property="recordTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id AS recordId, customer_id AS customerId, emotion, record_time AS recordTime
    </sql>

    <insert id="insert" parameterType="cn.vision.invicloud.support.entity.EmotionRecord">
        insert into crm_emotion_records(record_id, customer_id, emotion, record_time)
        values(#{record.recordId},#{record.customerId},#{record.emotion},#{record.recordTime})
    </insert>
</mapper>
