<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vision.invicloud.support.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.vision.invicloud.support.entity.Log">
        <id column="log_id" property="logId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="spend_time" property="spendTime" />
        <result column="method" property="method" />
        <result column="user_agent" property="userAgent" />
        <result column="user_ip" property="userIp" />
        <result column="opt_content" property="optContent" />
        <result column="url" property="url" />
    </resultMap>

</mapper>
