<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vision.invicloud.support.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.vision.invicloud.support.entity.User">
        <id column="user_id" property="userId" />
        <result column="login_name" property="loginName" />
        <result column="login_password" property="loginPassword" />
        <result column="salt" property="salt" />
        <result column="user_name" property="userName" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="pic_img" property="picImg" />
        <result column="status" property="status" />
        <result column="telephone" property="telephone" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, login_name AS loginName, login_password AS loginPassword, salt, user_name AS userName, 
	 sex, age, pic_img AS picImg, status, telephone, create_time AS createTime,update_time AS updateTime
    </sql>

    <!-- 根据用户ID查找用户信息 -->
    <select id="getById" resultType="cn.vision.invicloud.support.pojo.vo.UserVO">
        SELECT
            user_id AS userId,
            login_name AS loginName,
            login_password AS loginPassword,
            salt, user_name AS userName,
            sex,
            age,
            pic_img AS picImg,
            status,
            telephone,
            create_time AS createTime,
            update_time AS updateTime
        FROM
            crm_user
        WHERE
            user_id = #{userId}
    </select>

    <!-- 动态删除操作  delete from user where id in(?,?,?);-->
    <delete id="deleteByUserId">
        delete from crm_user
        where
      user_id =  #{userId}
    </delete>


    <!-- 更新学生信息 -->
    <update id="updateByUserId">
        UPDATE crm_user
            SET crm_user.user_id = #{userId},
                crm_user.login_name = #{loginName},
                crm_user.login_password = #{loginPassword},
                 crm_user.salt, user_name = #{userName},
                  crm_user.sex = #{sex},
                   crm_user.age = #{age},
                    crm_user.pic_img = #{picImg},
                     crm_user.status = #{status},
                     crm_user.telephone = #{telephone},
                     crm_user.create_time= #{createTime},
                     crm_user.update_time = #{updateTime}
         WHERE crm_user.user_id = #{userId};
</update>




    <!-- 根据分页信息/搜索内容查找用户列表 -->
    <select id="listByPage" resultType="cn.vision.invicloud.support.pojo.vo.UserVO">
        SELECT
        user_id AS userId,
        login_name AS loginName,
        login_password AS loginPassword,
        salt, user_name AS userName,
        sex,
        age,
        pic_img AS picImg,
        status,
        telephone,
        create_time AS createTime,
        update_time AS updateTime
        FROM
        crm_user
        <where>
            1=1
            <if test="search != null">
                AND (
                user_name LIKE '%' #{search} '%'
                OR user_name LIKE '%' #{search} '%'
                OR telephone LIKE '%' #{search} '%'
                )
            </if>
            <if test="pageInfo.sort != null">
                ORDER BY ${pageInfo.sort} ${pageInfo.order}
            </if>
        </where>
    </select>

<!--更新用户信息，根据userId-->
    <update id="updateById" parameterType="cn.vision.invicloud.support.entity.User">
        UPDATE crm_user
        <set>
            <if test="loginName!=null">login_name=#{loginName},</if>
            <if test="userName!=null">user_name=#{userName},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="age!=null">age=#{age},</if>
            <if test="telephone!=null">telephone=#{telephone}</if>
        </set>
        WHERE
        user_id = #{userId}
    </update>
    
</mapper>
